.bg-skyline {
    background-image: url("images/skyline.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: 5C2867;
}   

.content {
    min-height: calc(95vh - 80px); 
}

.placeholder {
    height: 200px; 
    width:  200px;
    border-radius: 50%;
}

.nav-image {
    height: 100px; 
    width:  100px;
    border-radius: 50%;
}

.main-logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-content: center;
    align-items: center;
    align-self: center;
    
}

.main-white {
    background-color: #white;
    height: auto
}

.index-buttons {
    padding: 10px 10px 10px 10px; 
    margin: 10px 10px 10px 10px;
    font-size: 16px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 10px 10px 10px;
}

.header {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-content: center;
    align-self: center;
    align-items: center;
   }

.footer {
    height: 5%;
    background-color: black
    
    ;
}