body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0px 0px 0px 0px;
    background-color: lavenderblush;
    padding: 0px 0px 0px 0px;
}

.bg-skyline {
    background-image: url("images/skyline.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: 5C2867;
}   

.bg-skyline-header {
    background-image: url("images/skyline-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: 5C2867;
    width: auto;
    padding-bottom: 10px;
}   

.header-left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

.header-right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

@media only screen and (max-width: 580px) {
    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.index-content {
    min-height: calc(95vh - 80px); 
}

.main-content {
    min-height: calc(100vh - 80px);
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.placeholder {
    height: 200px; 
    width:  200px;
    border-radius: 50%;
    border: #555;
    border-width: 2px;
}

.nav-image {
    height: 100px; 
    width:  100px;
    border-radius: 50%;
    border: #555;
    border-width: 2px;
}

.main-logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border: #555;
    border-width: 2px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-content: center;
    align-items: center;
    align-self: center;
    
}

.mobile-nav {
    display: none;   
}

@media only screen and (max-width: 600px) {
    .mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-content: center;
        align-items: center;
    }
    .main-nav {
        display: none;
    }
}

.main-white {
    height: auto;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    
}

.index-buttons {
    padding: 5px 10px 5px 10px; 
    margin: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: .50rem;
    background-color: white;
    border: 2px solid #555;
}

.index-buttons:hover,
.index-buttons:focus {
    border-color: rgba(0, 0, 0, 0.15);
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; */
    color: rgba(0, 0, 0, 0.65);
}

/* .index-buttons:hover {
    transform: translateY(-1px);
} */

.index-buttons:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    /* box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px; */
    color: rgba(0, 0, 0, 0.65);
    /* transform: translateY(0); */
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 10px 10px 10px;
    opacity: 1.0;
}

.header {
    height: 200px;
    border: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-content: center;
    align-self: center;
    align-items: center;
   }

.footer {
    position: sticky;
    vertical-align: bottom;
    ;
}

img {
    opacity: 1.0;
}

.bordered-img {
    border: 2px solid #555;
    border-radius: 5px;
  }

  .text-box {
    padding: 10px 10px 10px 10px
  }

  .hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

.hover-image {
    visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
}

.hover-image {
    display: flex;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

/* Change width and height to scale images */
    width: 300px;
}

.pre-hover-image {
    display: flex;
    position: fixed;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.6;

    

/* Change width and height to scale images */
    width: 300px;
}

.hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}

.insp-center {
    display: flex;
    flex-grow: 1 0 1;
}

.insp-container {
    display: flex;
    height: 270px;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 700px) {
    .main-white {
        padding: 0px 0px;
    }
}